.container {
  width: 100%;
  padding: 1rem 0rem;
  gap: 15%;
  padding: 2%;
}

.subContainer {
    width: 40%;
}

.paperContainer {
  display: flex;
  flex-direction: column;
  height: 82vh;
}

.arrow{
  margin-bottom: 0.3rem;
}

