.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 320px;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding: 2rem 1rem;
  border-radius: 35px;
  box-sizing: border-box;
}

.background {
   background-image: linear-gradient(to bottom right, #f8fafc, #eff6ff, #e0e7ff);
}
.container section,
.container aside {
  width: 100%;
}

main .custom-hr{
 border: 1;
 border-color: rgba(0, 0, 0, 0.1);
}

main{
  max-height: 200vh;
}


.title-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.title-container h1{
  color: rgb(17, 25, 40);
}

.title-container{
  margin-bottom: 5rem;
}


@media (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
    gap: 0rem;
  }
  .container aside {
    width: 45%;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  box-sizing: border-box;
}


.blur-text {
  margin-left: 2.5rem;
  padding-left: 1.5rem;
  padding-top: 10rem;
  display: flex;
  color: rgb(17, 25, 40);
  justify-content: center;
  font-size: 72px;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
  animation: levitate 2s ease-in-out infinite;
  transform-origin: center;
}

@keyframes levitate {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.flip-card-grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.form-container{
  margin-top: 2rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.auth-container{
  min-width: 45%;
}

.footer-container{
  margin-top: 5rem;
  max-width: 100%;
  background-color: #101827;
}

.footer-container p {
  color: white;
}

.footer-container hr{
  border-color: rgba(255, 255, 255, 0.1);
  width: 100%;
}

.footer-container img{
  animation: rotation 4s linear infinite;

}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}