.navbar {
  width: 80px;
  min-height: 100vh;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
   border: 1px solid rgba(0, 0, 0, 0.1);
   box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}

.navbarMain {
  flex: 1;
}

.link {
  width: 50px;
  height: 50px;
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(29, 79, 217);

  &:hover {
    background-color: var(--mantine-color-blue-12);
  }

  &[data-active] {
    &,
    &:hover {
      box-shadow: var(--mantine-shadow-sm);
      background-color: var(--mantine-color-white);
      color: rgb(17, 25, 40);
    }
  }
}